<!-- Toolbar -->
<div class="toolbar mat-elevation-z6" role="banner">
  <img routerLink="/" src="assets/imgs/logo.svg" alt="PSE Logo">
  <img routerLink="/" src="/assets/imgs/winner-cup.svg" alt="Winner Cup">
  <span routerLink="/">PSE SPORT COMPETITION</span>
  <div class="spacer"></div>
  <button class="btn-menu" mat-button color="primary" routerLink="/admin">Create A
    Tournament</button>
    <div class="spacer"></div>
</div>

<div class="content" role="main">
  <router-outlet></router-outlet>
</div>
