<div class="conent-menu">
  <button class="btn-menu" mat-button color="primary" routerLink="/overview" routerLinkActive="active">Overview</button>
  <button class="btn-menu" mat-button color="primary" routerLink="/fixture-results"
    routerLinkActive="active">Fixture-results</button>
  <button class="btn-menu" mat-button color="primary" routerLink="/standing" routerLinkActive="active">Standing</button>
  <button class="btn-menu" mat-button color="primary" routerLink="/teams" routerLinkActive="active">Teams</button>
  <button class="btn-menu" mat-button color="primary" routerLink="/scheduler" routerLinkActive="active">Scheduler</button>
</div>

<div class="tournament-content">
  <router-outlet></router-outlet>
</div>
